@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

html, body {
    margin: 0;
    background-color: black;
  }
  
body{
    display: flex;
    border: 1px dashed red;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Tomorrow', sans-serif;
    font-size: 3rem;
    color: #36FF00;
    padding: 4rem 6rem;
}





.selector{
    display: flex;
    border: 1px dashed rgb(0, 255, 0);
    padding: 1rem;
    max-width: 90%;
    justify-content: space-around;
    
}

.device{
    display: flex;
    border: 1px dashed rgb(227 227 69);
    flex-direction: column;
    justify-content: inherit;
    width: 30%;
}

.image{
    display: flex;
    object-fit: scale-down;  
    overflow: hidden;   
    align-items: center;
    justify-content: center;

    border: 1px dashed blue;
}
.image img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.option{
    border: 1px dashed blue;
}

.status{
    height: 16rem;
    display: flex;
    border: 1px dashed blue;
    justify-content: space-evenly;
    align-items: center;
}

.startImage, startTitle{
    margin: 2rem;
}



.startImage{
    object-fit: cover;  
    display: flex;
    border: 1px dashed blue;
    height: 100%;
}

#lBolt{
    transform: scaleX(-1); 
}

.device, 
.status,
.temporal{
    border: 1px dashed red;
    margin: 1rem;
    text-align: center;
}
  
/*Pending to apply the transitions

.text {
    opacity: 0;
    transition: opacity 1s ease;
    font-family: 'Tomorrow', sans-serif;
    font-size: 3rem;
    color: #36FF00;
 }
  
.text.show {
    opacity: 1;
 }
 */