@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

html, 
body{
    margin: 0;
    background-color: black;
  }
  
body{
    display: flex;
    
    border: 1px dashed red;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Tomorrow', sans-serif;
    color: #36FF00;
    padding: 2rem 9rem;
}

.mainTitle, 
.selector,
.status{
    display: flex;
    box-sizing: border-box;
    width: 65rem;
    margin: .6rem;
    justify-content: center;
    border: px solid #3fff00;
    border-radius: 40px;
}

.mainTitle{
    font-size: 4rem;
    text-align: center;
    border-radius: 50px;
}

.selector{
    display: flex;
    justify-content: center;
    max-height:500px;
}

.device{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 30%;
    height: 25rem;
    margin: .7rem;
    padding: 1rem;
    border-radius: 20px;
    border: 4px solid #3fff00;
}

#bomb{
    padding: .5rem;
}

#shield,
#ray{
    padding: 1rem;
}

#bomb,
#shield,
#ray{
    border-radius: 20px;
    margin-bottom: .5rem;
    border: 2px solid;
    border-color: inherit;
}

.option{   
    display: flex;
    min-height: 30%;
    justify-content: center;
    align-items: center;
    color: #6CB646;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid;
    border-color: inherit; 
}

#handRock,
#handPaper,
#handScissors{
    box-sizing: border-box; 
    width: 40%;
    overflow:hidden;
    height: 100%;
    border-radius: 8px;
    padding: 6px;
    border: 1px solid #ffffff;
}

.opText{
    display: flex;
    box-sizing: border-box; 
    width: 60%;
    height: 100%;
    font-size: 1.8rem;
    overflow: hidden;
    color: #36FF00;
    border-radius: 8px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ffffff;    
}

.image{
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;

    border: 0px dotted blue;
}

.image img { 
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;   /*Applied directly to the img, allows to maintain the aspect ratio when flex is applied to the 'image container'*/
    
    border: 0px dashed #15f3b0;
}


.status{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}


.startTitle{
    font-size: 2.5rem;
    width: 30%;
    text-align: center;
    padding: 1rem;
    border: 0px dashed #15f3b0;
}

.startImage{ 
    display: flex;
    height: 60%;
    padding: 1rem;
    border: 0px dashed #e019f0;
}

#lBolt{
    transform: scaleX(-1); 
}


.temporal{
    margin: 1.5rem;
    text-align: center;
    border: px dotted #3fff00;
}


.division,
.sDiv,
.sTitle{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    /*height: 100%;*/
    border: 2px solid #3fff00;
}


.sDiv,
.sTitle{
    width: 100%;
    padding: 1rem;
}

.division{
    flex-direction: column;
    width: 48%;    
}

.selection,
.score
{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: px solid #3fff00;
}

.selection,
.score,
.division{
    height: 100%;
}

.selection,
.score{
     width: 49%; 
}

.sDiv{
    height: 80%;
}

.sTitle{
    height: 20%;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 2rem;
}

.marker1,
.marker2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.marker1{
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 4px;

    border-bottom: 2px solid #3fff00;
}

.marker2{
    box-sizing: border-box;
    height: 100%;
    margin: .5rem;
}

.think{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    
    border: px solid red;
}

.result{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.temporal{
    border: 0px solid blue;
}




/*Pending to apply the transitions

.text {
    opacity: 0;
    transition: opacity 1s ease;
    font-family: 'Tomorrow', sans-serif;
    font-size: 3rem;
    color: #36FF00;
 }
  
.text.show {
    opacity: 1;
 }
 */