@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@keyframes flickerAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
}

html, 
body{
    margin: 0;
    background-color: black;
    overflow: auto;
    height: 100vh;
  }
  
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Tomorrow', sans-serif;
    color: #3FFF00;

    border: 0px dashed red;
}

.mainTitle{
    display: flex;
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif;
    font-size: 5vmin;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #3FFF00;
    width: 100vmin;
    padding: 1.5vmin;
    border-radius: 5vmin;
    border: .3vmin solid #3FFF00;
    text-shadow: 0 0 3vmin rgba(63, 255, 0, 0.8);
    box-shadow: 0 0 4vmin rgba(63, 255, 0, 0.8);    
} 

.selector,
.status{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100vh; 
    
    border: 0px solid #3FFF00; 
}

.selector{
    height: 50vh;
    overflow: hidden;
    
    border: px solid #1b3790;
}

.status{
    height: 40vh;
    padding: vmin;
    overflow: hidden;
    
    border: px solid #1b3790;
}

.device{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 32vmin;
    height: 45vh;
    margin: 1.7vmin;
    padding: 2vmin;
    cursor: cell;
    border-radius: 4vmin;
    border: .6vmin solid #3FFF00;
    text-shadow: 0 0 2vmin rgba(63, 255, 1, 8); 
    box-shadow: 0 0 2vmin rgba(63, 255, 0, 0.8); 
}

#bomb{
    padding: 1.5vmin; /*different padding to achieve similar sizing as the other devices*/ 
}

#shield,
#ray{
    padding: 2.5vmin;
}

#bomb,
#shield,
#ray{
    border-radius: 2vmin;
    margin-bottom: 1.8vmin;
    border: .4vmin solid;
    border-color: inherit;
    animation: flickerAnimation 0.09s infinite;
}

.option{   
    display: flex;
    min-height: 30%;
    justify-content: center;
    align-items: center;
    color: #3FFF00;
    padding: 1.5vmin;
    border-radius: 2vmin;
    border: .4vmin solid;
    border-color: inherit;
}

#handRock,
#handPaper,
#handScissors{
    box-sizing: border-box; 
    width: 40%;
    overflow:hidden;
    height: 100%;
    border-radius: 1vmin;
    padding: .5vmin;
    border: .3vmin solid #ffffff;
    
}

.opText{
    display: flex;
    box-sizing: border-box; 
    width: 60%;
    height: 100%;
    font-size: 2.7vmin;
    overflow: hidden;
    color: #3FFF00;
    border-radius: 1vmin;
    padding: .7vmin;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .3vmin solid #ffffff;    
}

.image{
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    image-rendering: pixelated;

    border: 0px dotted blue;
}

.image img { 
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;   /*Applied directly to the img, allows to maintain the aspect ratio when flex is applied to the 'image container'*/
    
    border: 0px dashed #15f3b0;
}

.startTitle{
    font-size: 2.5rem;
    width: 20vmin;
    text-align: center;
    padding: 3vmin;
    border: 0px dashed #15f3b0;
}

.startImage{ 
    display: flex;
    height: 30vh;
    padding: 2vmin;
    animation: flickerAnimation 0.09s infinite;
    border: 0px dashed #f700ff
}

#lBolt{
    transform: scaleX(-1); 
}


/*.temporal{
    margin: 1vmin;
    text-align: center;
    border: px dotted #3fff00;
}*/


.division,
.sDiv,
.sTitle{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}


.sDiv,
.sTitle{
    padding: 1vmin;
    border: .5vmin solid #3FFF00;
    border-radius: 2vmin;
    text-shadow: 0 0 2vmin rgba(63, 255, 0, 0.8);
    box-shadow: 0 0 2.8vmin rgba(63, 255, 0, 0.8);
}

.division{
    flex-direction: column;
    margin: 1vmin;
    height: 20vh;
    width: 50vmin;
    border-radius: 1.5vmin;
    
    border: .3vmin solid #3FFF00;
}

.selection,
.score
{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vmin;
    width: 50vmin;
    border: px solid #3fff00;
}



.sDiv{
    height: 25vh;
}

.sTitle{
    margin-bottom: 1.8vmin;
    justify-content: center;
    font-size: 3.7vmin;
}

.marker1,
.marker2{
    box-sizing: border-box;
    font-size: 2.1vmin;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.marker1{
    height: 8vmin;
    overflow: hidden;
    border-bottom: 2px solid #3fff00;
    padding: .66vmin;
}

.marker2{
    margin: 2vmin;
    animation: flickerAnimation 0.09s infinite;
}

.think{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 3.5vmin;
    justify-content: center;
    text-align: center;
    
    border: px solid red;
}

.gOver{
    font-size: 8vmin;
    text-shadow: 0 0 3vmin rgba(63, 255, 0, 0.8);
}

.result{
    font-size: 2vmin;
    margin-top: 1rem;
    text-shadow: 0 0 10px rgba(63, 255, 0, 0.8);
}

#fivePuser.flicker-image,  
#fivePcpu.flicker-image{
    animation: flickerAnimation 0.2s infinite;
}

#restart{
    padding: 1rem 2rem;
    background-color: #3fff00;
    border: 2px solid #3fff00;
    color: white;
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: cell;
    margin: 2rem;
    text-shadow: 0 0 5px rgb(0 0 0 / 80%);    
    transition: background-color .5s, border-color .5s, color .5s;  
}

#restart:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}
