@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px dashed red;
}

.title{
  display: flex;
  box-sizing: border-box;
  font-family: 'Tomorrow', sans-serif;
  font-size: 4rem;
  justify-content: center;
  margin-bottom: 2rem;
  color: #3FFF00;
  width: 61rem;
  padding: 1rem;
  border-radius: 40px;
  border: 1px solid #3fff00;
  text-shadow: 0 0 10px rgba(63, 255, 0, 0.8);
  box-shadow: 0 0 30px rgba(63, 255, 0, 0.8);    
} 

.start{
  padding: 1rem 2rem;
  background-color: #3fff00;
  border: 2px solid #3fff00;
  color: white; 
  font-family: 'Tomorrow', sans-serif;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: cell;
  margin: 2rem;
  text-shadow: 0 0 5px rgb(0 0 0 / 80%);    
  transition: background-color .5s, border-color .5s, color .5s;  
}

.start:hover{
  background-color: black;
  border: 3px solid white;
  color: white;
  cursor: pointer;
}


