@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}

body{
  display: flex;
  border: 1px dashed red;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: 'Tomorrow', sans-serif;
  font-size: 3rem;
  margin: 2rem;
  color: #36FF00;
}

.start{
  font-family: 'Tomorrow', sans-serif;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: #36FF00;
  background-color: #606B66;
}

.start:hover{
  border-color: #36FF00;
  border-size: 1px;
}


