/* transitionStyle.css */

/* Add the animation for the transition screen */
.transition-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    animation: moveScreen 1s;
    transform-origin: left; /* Set the origin of the animation */
    opacity: 0; /* Initially hide the transition screen */
}

@keyframes moveScreen {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
        opacity: 0; /* Ensure the screen is fully hidden at the end of the animation */
    }
}

/* Add the "active" class to display the transition screen */
.transition-screen.active {
    opacity: 1;
}
